snippet @mint
alias mmint mmit miwt
  @media (min-width: $break_tablet) {
    ${2}
  }
snippet @mind
alias mmind mmid miwd
  @media (min-width: $break_desktop) {
    ${2}
  }

snippet @minl
alias mminl mmil miwl
  @media (min-width: $break_large_desktop) {
    ${2}
  }
