[submodule "_vim/bundle/vim-surround"]
	path = _vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/vim-repeat"]
	path = _vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "_vim/bundle/zencoding"]
	path = _vim/bundle/zencoding
	url = http://github.com/mattn/zencoding-vim.git
[submodule "_vim/bundle/easymotion"]
	path = _vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
