[submodule "_vim/bundle/vim-surround"]
	path = _vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/snipmate"]
	path = _vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
